<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealmKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RealmKitmacOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A7357E51BCC0958003F99EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A7357EF1BCC0958003F99EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABE42671D9BFBA200772F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABE42791D9BFBC900772F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
